*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Be Vietnam', Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-image: url('../../images/bg-tablet-pattern.svg'), url('../../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 120%, 90%;
  // background-position: 15vw -30vw, 65vw 140vw;
  // background-position: right -13rem top -11rem, right -18rem top 53rem;
  background-position: -80% -4%, 635% 17.75%;

  --theme-bright-red: hsl(12, 88%, 59%);
  --theme-bright-red-for-rgba: 242, 95, 58;
  --theme-dark-blue: hsl(228, 39%, 23%);
  --theme-dark-greyish-blue: hsl(227, 12%, 61%);
  --theme-very-dark-blue: hsl(233, 12%, 13%);
  --theme-very-pale-red: hsl(12, 100%, 96%);
  --theme-very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-size: 1.6rem;
  // margin: 0 auto;
}

h1,
h2 {
  letter-spacing: -0.1rem;
  color: var(--theme-dark-blue);
}

h1 {
  line-height: 1.3;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: -0.05rem;
  color: var(--theme-dark-blue);
}

p,
q {
  color: var(--theme-dark-greyish-blue);
}

p {
  line-height: 2;
}

q {
  line-height: 1.8;
}

ul,
ol {
  list-style-type: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.getStartedButton {
  display: block;
  padding: 1.3rem 3.5rem 1.5rem;

  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--theme-very-pale-red);
  background-color: var(--theme-bright-red);
  border-radius: 4rem;
  box-shadow: 0 2rem 1rem -1rem hsl(13, 92%, 85%);
}


//////////////////////////////////////////////////////////////////

#topHeader {
  display: flex;
  margin: 4rem 2.5rem 4rem;
  align-items: center;
  justify-content: space-between;
  height: 2rem;

  #headerLogo {
    max-height: 2rem;
  }

  nav {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 150vh;
    background-image: linear-gradient(to bottom, rgba(gray, 0.1), rgba(gray, 0.7) 80%, rgba(gray, 0.9));
    // background-image: linear-gradient(to bottom, rgba(var(--theme-dark-greyish-blue), 0.1), rgba(var(--theme-dark-greyish-blue), 0.7) 80%, rgba(var(--theme-dark-greyish-blue), 0.9));


    ul {
      margin: 10rem 2.5rem;
      padding: 2.6rem;

      text-align: center;
      list-style-type: none;
      font-weight: 700;
      background: white;
    }

    li {
      padding: 1.2rem;
    }

    a {
      text-decoration: none;
      color: var(--theme-dark-blue);
    }
  }


  .buttonContainer {
    display: none;
  }
}

//////////////////////////////////////////////////////////////////////

#introSection {
  padding: 0 1.5rem 7rem;
  text-align: center;

  // background-image: url('../../images/bg-tablet-pattern.svg');
  // background-repeat: no-repeat;
  // background-size: 90%;
  // background-position: 64vw 50vh;

  img {
    max-width: 100%;
  }

  h1 {
    padding: 0 1rem 1rem;
  }

  p {
    padding: 0 2rem;

    font-weight: 300;
  }
}

////////////////////////////////////////////////////////////////

#theDifferenceSection {

  h2,
  p {
    text-align: center;
  }

  h2 {
    padding: 0 4rem 2rem;
  }

  h2+p {
    padding: 0 3rem;
    margin-bottom: 5rem;
  }

  p {
    font-size: 1.4rem;

  }

  li {
    margin: 0 0 5rem 1.7rem;
  }

  .listItemHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    background-color: var(--theme-very-pale-red);
    border-bottom-left-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
  }

  .listItemHeader span {
    display: flex;
    align-items: center;
    padding: 0.7rem 2.5rem 1rem;
    margin-right: 1.5rem;

    font-weight: 500;
    background: var(--theme-bright-red);
    color: var(--theme-very-light-gray);
    border-radius: 2.5rem;
  }

  .listItemDescription {
    text-align: left;
    padding-right: 2rem;
  }
}

//////////////////////////////////////////////////////////////////

#testimonialsSection {
  text-align: center;

  h2 {
    letter-spacing: -0.05rem;
  }

  .spinnerBtn {
    display: none;
  }

  #testimonials:hover {
    .spinnerBtn {
      display: block;
    }
  }

  #testimonials {
    display: flex;
    position: relative;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    // Remove scrollbar from testimonial slider
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE 10+

    li {
      min-width: 100%;
      // min-height: 100%;
      height: 100%;
      padding: 2rem;

      scroll-snap-align: center;
    }
  }

  // Remove scrollbar from testimonial slider
  // Chrome, Edge
  #testimonials::-webkit-scrollbar {
    width: 0;
    height: 0;
  }


  .avatarImage {
    max-width: 20vw;
    transform: translateY(56%);
  }

  .testimonial {
    min-height: 100%;
    padding: 10rem 2rem 2rem;

    background: var(--theme-very-light-gray);
  }

  .userName {
    margin-bottom: 2rem;
  }

  q {
    font-size: 1.4rem;
  }

  #testimonialIndicator {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 1rem 0 2rem;

    color: var(--theme-bright-red);

    li {
      margin: 0 0.2rem;
    }

    .bullet {
      width: 0.8rem;
      height: 0.8rem;

      border: 1px solid var(--theme-bright-red);
      border-radius: 50%;
    }

    .active {
      background: var(--theme-bright-red);
    }
  }
}

//////////////////////////////////////////////////////////////////

#simplifySection {
  position: relative;
  margin-top: 1rem;
  padding: 8rem 3rem 6rem;

  background: var(--theme-bright-red);
  background-image: url(../../images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 4rem;

  h1 {
    position: relative;

    text-align: center;
    line-height: 1.2;
    color: white;
  }

  .buttonContainer {
    position: relative;
  }

  .getStartedButton {
    background: white;
    color: var(--theme-bright-red);
    box-shadow: 0 1rem 1.5rem -1rem grey;
  }
}

//////////////////////////////////////////////////////////////////

footer {
  background: var(--theme-very-dark-blue);

  form {
    display: flex;
    position: relative;
    padding: 5rem 2rem 2rem;

    input,
    button {
      margin: 0 0.4rem;

      border: none;
      border-radius: 3rem;
      font-family: inherit;
      font-size: 1.3rem;
    }

    input {
      flex: 4;
      padding: 1.3rem 2.5rem 1.5rem;

      font-weight: 500;
    }

    #errorMessage {
      display: none;
      position: absolute;
      bottom: 0;
      left: 5rem;

      box-shadow: none;
      color: var(--theme-bright-red);
      opacity: 0.7;
      font-size: 1rem;
      font-style: italic;
    }

    button {
      flex: 1;
      padding: 1.3rem 2rem 1.5rem;

      cursor: pointer;
      background: var(--theme-bright-red);
      color: white;
      font-weight: 700;
    }
  }

  nav {
    margin-top: 3rem;


    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 7rem;
    }

    li {
      padding: 0.5rem 0;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 1.4rem;
    }
  }

  #socialMediaLinks {
    display: flex;
    justify-content: center;
    padding-top: 4rem;

    ul {
      display: flex;
      justify-content: space-around;
      width: 40rem;
      padding: 0 2rem;
    }

    li {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    a {
      display: block;
      width: 50%;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  #footerLogo {
    margin-top: 5rem;
    text-align: center;

    #logo {
      fill: white;
    }
  }

  #copyrightInfo {
    margin-top: 5rem;

    text-align: center;
    color: grey;
    font-size: 1.3rem;
  }

  .attribution {
    padding: 2rem 0 1rem;

    text-align: center;
    color: grey;
    font-size: 11px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

//// Screen width >= 700 /////////////////////////////////////////////////////////

@media screen and (min-width: 700px) {
  html {
    background-image: url('../../images/bg-tablet-pattern.svg');
    background-size: 90%;
    background-position: right -18rem top -19rem, left -50rem top 107rem;
  }
}

//// Screen width >= 1350px //////////////////////////////////////////////////////////////

@media screen and (min-width: 1350px) {
  html {
    background-image: url('../../images/bg-tablet-pattern.svg'), url('../../images/bg-tablet-pattern.svg');
    background-size: 57%, 55%;
    background-position: right -18rem top -19rem, left -50rem top 107rem;
  }

  .getStartedButton:hover,
  .getStartedButton:focus,
  #submitButton:hover,
  #submitButton:focus {
    opacity: 0.65;
  }

  //// Header section (>=1350px) ///////////////////////////////////////////////////////

  #topHeader {
    height: auto;
    align-items: center;
    margin: 4rem 15rem 0;

    #headerLogo {
      max-height: none;
      padding-top: 0.5rem;
    }

    #navContainer {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #menuToggleContainer {
      display: none;
    }

    #headerNav {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
      background: none;
      width: auto;
      height: auto;

      #headerNavList {
        display: flex;
        margin: 0;

        background: none;
        font-weight: 500;
        font-size: 1.4rem;
      }

      li {
        padding: 0 2rem;
      }

      a:hover,
      a:focus {
        opacity: 0.5;
      }
    }

    .buttonContainer {
      display: block;
      padding: 0;
    }
  }

  //// Intro Section (>=1350px) ////////////////////////////////////////////////

  #introSection {
    display: flex;
    flex-flow: row-reverse;
    padding: 0;
    margin: 8rem 10rem 0;

    img {
      flex: 1;
      margin-left: -2rem;
      margin-right: 3rem;
    }

    #introInfo {
      flex: 1;
      margin-top: 7rem;
      margin-left: 5rem;
      margin: 7rem 5rem 0;
      text-align: left;

      h1 {
        padding: 0;
        line-height: 1.15;
        font-size: 5.5rem;
      }

      p {
        padding: 3.5rem 40% 3rem 0;
        line-height: 1.7;
        font-weight: 400;
      }

      .buttonContainer {
        padding: 1rem 0 0;
        justify-content: left;
      }
    }
  }

  //// The difference section (>=1350px) ////////////////////////////////////

  #theDifferenceSection {
    display: flex;
    padding: 8rem 10rem 0;

    header {
      flex: 1;
    }

    h2,
    p {
      text-align: left;
    }

    h2 {
      padding-bottom: 0;
      padding-right: 0;

      line-height: 1.1;
      font-size: 4.1rem;
    }

    h2+p {
      padding: 3rem 35% 0 4rem;

      line-height: 1.6;
      font-size: 1.6rem;
    }

    ol {
      flex: 1;
      margin-left: 5rem;
      margin-right: 5rem;

      .listItemHeader {
        background: none;
      }

      .listItemDescription {
        line-height: 1.6;
        padding-right: 2.5rem;
        margin: 0 0 4rem 8.4rem;

        font-size: 1.6rem;
      }
    }
  }

  //// Testimonials section (>=1350px) ////////////////////////////////

  #testimonialsSection {
    margin-top: 9rem;

    h2 {
      font-size: 4.1rem;
    }

    #testimonialSpinner {
      position: relative;
    }

    #testimonialSpinner:hover {
      .spinnerBtn {
        display: block;
      }
    }

    .spinnerBtn {
      display: none;
      position: absolute;
      top: 50%;
      width: 4rem;
      height: auto;
      z-index: 2;

      cursor: pointer;
      border: none;
      background: none;
    }

    .spinnerBtn:hover {
      path {
        fill: var(--theme-bright-red);
      }
    }

    #spinLeftBtn {
      left: 15%;
    }

    #spinRightBtn {
      right: 15%;
    }

    #testimonials {
      height: 35rem;
      perspective: 800px;

      li {
        --min-width: 50%;
        position: absolute;
        min-width: var(--min-width);
        max-width: var(--min-width);
        height: 80%;
        left: calc((100% - var(--min-width)) / 2);

        transition: all 250ms linear;
      }

      li.active .testimonial {
        box-shadow:
          8px 0 10px 2px rgba(0, 0, 0, 0.1),
          -8px 0 10px 2px rgba(0, 0, 0, 0.1),
          0px 8px 10px 2px rgba(0, 0, 0, 0.1);
      }

      #testimonial1 {
        transform: translateX(0vw) translateZ(0px);
        z-index: 2;
        opacity: 1;
      }

      #testimonial2 {
        transform: translateX(40vw) translateZ(-300px);
        opacity: 0.5;
      }

      #testimonial3 {
        transform: translateX(0) translateZ(-600px);
        opacity: 0.5;
      }

      #testimonial4 {
        transform: translateX(-40vw) translateZ(-300px);
        opacity: 0.5;
      }

      .testimonial {
        padding: 6rem 4rem 2rem;

        transition: all 250ms linear;
      }

      .avatarImage {
        max-width: 6rem;
        transform: translateY(60%);
      }

      q {
        line-height: 1.6;
        font-size: 1.6rem;
      }
    }

    #testimonialIndicator {
      display: none;
    }
  }

  //// Simplify section (>=1350px) //////////////////////////////////////

  #simplifySection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15rem;
    padding: 5.7rem 12rem;

    background: var(--theme-bright-red);
    background-image: url(../../images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: 25rem -14rem;

    h1 {
      flex: 1;
      padding: 0 5rem;

      text-align: left;
    }

    .buttonContainer {
      flex: 1;

      justify-content: right;

      .getStartedButton:hover,
      .getStartedButton:focus {
        opacity: 1;
        color: rgba(var(--theme-bright-red-for-rgba), 0.4);
      }
    }
  }

  //// Footer (>=1350px) //////////////////////////////////////////

  footer {
    display: grid;
    padding: 2.5rem 15rem;

    grid-template-areas:
      "logo nav form"
      "mediaLinks nav copyrightInfo"
      "attribution attribution attribution";

    grid-template-columns: 1fr 2fr 1fr;

    #subscribeForm {
      grid-area: form;
      padding: 4rem 0 1.5rem;

      #email {
        padding: 1.3rem 2rem 1.5rem;
      }

      #errorMessage {
        left: 2.5rem;
        bottom: -0.5rem;
      }

      #submitButton {
        width: 7rem;
      }

      #submitButton:hover,
      #submitButton:focus {
        opacity: 1;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
        background-color: var(--theme-bright-red);
      }
    }

    nav {
      grid-area: nav;

      li {
        padding: 0.6rem 0;
      }

      a:hover,
      a:focus {
        color: var(--theme-bright-red);
        opacity: 0.7;
      }
    }

    #socialMediaLinks {
      display: block;
      grid-area: mediaLinks;
      padding-top: 3rem;
      margin-top: 1rem;

      ul {
        width: 70%;
        gap: 1.4rem;
      }

      a:hover,
      a:focus {
        path {
          fill: var(--theme-bright-red);
        }
      }

      a {
        width: 100%;
      }
    }

    #footerLogo {
      grid-area: logo;
      margin: 3.5rem 0rem 0 2rem;
      text-align: left;
    }

    #copyrightInfo {
      grid-area: copyrightInfo;
      margin-right: 0.5rem;

      text-align: right;
    }

    .attribution {
      grid-area: attribution;
      padding: 3rem 0 0;
    }
  }

}